<h3>Please Enter a City</h3>


  <label for="city">City:</label>
  <input type="text" id="city" name="city">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <button>Get Weather</button>


